<a href="https://colab.research.google.com/github/kevin-qi1/CS167Code/blob/main/Copy_of_Notebook1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook #1: Python, Pandas, and Movies!
**Name: Kevin Qi**

**Due 2/8 before class**

The goal of this notebook is to become comfortable with using `python` and `pandas` as well as grabbing specific slices of the dataset. 

Start off by importing the data. Make sure the data is in your Google Drive, and that you update the path to point to where you have your data saved in Drive.

In [ ]:
#selecting columns in dataframes
import pandas
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#import the data:
#make sure the path on the line below corresponds to the path where you put your dataset.
movies = pandas.read_csv('/content/drive/MyDrive/CS167Datasets/MoviesData.csv')
movies.head()

                            Title  Year  Age  ...      Genre  Runtime        Country
0                       Inception  2010  13+  ...     Action    148.0  United States
1                      The Matrix  1999  18+  ...     Action    136.0  United States
2          Avengers: Infinity War  2018  13+  ...     Action    149.0  United States
3              Back to the Future  1985   7+  ...  Adventure    116.0  United States
4  The Good, the Bad and the Ugly  1966  18+  ...    Western    161.0          Italy

[5 rows x 9 columns]

## Exercise #1: 
Print out all of the possible values for the Genres.
- *Hint: I'm looking for each possible Genre to be ouput once. For example, if I tossed a coin 3 times and got Heads, Tails, Heads, the possible values of the coin flip are Heads and Tails. There is a function for this. It should require one line of code.*

In [ ]:
movies['Genre'].unique()

array(['Action', 'Adventure', 'Western', 'Animation', 'Biography',
       'Drama', 'Crime', 'Comedy', 'Documentary', 'Family', 'Horror',
       'Thriller', 'Mystery', nan, 'Fantasy', 'Romance', 'Short',
       'Sci-Fi', 'Talk-Show', 'Sport', 'Reality-TV', 'Musical', 'War',
       'News', 'History', 'Film-Noir'], dtype=object)

## Exercise #2:
Create a subset of data representing movies from the year 1980-1990 (including both 1980 and 1990) with the value "Adventure" in the Genre column. Save this DataFrame to the variable name `classic_adventure_movies`. Display the first 5 lines of this subset.

In [ ]:
classic_adventure_movies = movies[(movies['Genre'] == 'Adventure') & (movies['Year'] >=1980) & (movies['Year'] <=1990)]
classic_adventure_movies.head()

                            Title  Year Age  ...      Genre  Runtime        Country
3              Back to the Future  1985  7+  ...  Adventure    116.0  United States
53     Back to the Future Part II  1989  7+  ...  Adventure    108.0  United States
62    Back to the Future Part III  1990  7+  ...  Adventure    118.0  United States
946                        Popeye  1980  7+  ...  Adventure    114.0  United States
4536                 Fitzcarraldo  1982  7+  ...  Adventure    158.0   West Germany

[5 rows x 9 columns]

## Exercise #3
Using `classic_adventure_movies`, what is the median **IMDb** rating?

In [ ]:
classic_adventure_movies['IMDb'].median()

6.3

## Exercise #4
Create a new subset with only movies with `Rotten Tomatoes` values >= 95 . Include 3 columns, the `Title`, `Year`, and `Rotten Tomatoes`. Display the first 5 lines of this subset.

In [ ]:
rotten_tomatoes95 = movies[movies['Rotten Tomatoes'] >= 95]
subset = rotten_tomatoes95[['Title', 'Year', 'Rotten Tomatoes']]
subset.head()

                               Title  Year  Rotten Tomatoes
3                 Back to the Future  1985             96.0
4     The Good, the Bad and the Ugly  1966             97.0
5  Spider-Man: Into the Spider-Verse  2018             97.0
6                        The Pianist  2002             95.0
8            Raiders of the Lost Ark  1981             95.0

## Exercise #5

What is the average (mean) IMDb score for each of the different Genres?  (I'm looking at the average of the 'IMDb' column, grouped by Genre--so Action v Adventure v Animation etc.). Look at this list to determine which genre has the highest average.
- In addition to supplying the code to output the averages for each Genre,answer the question of the hightest average in a text cell ...*

In [ ]:
movies.groupby(['Genre'])['IMDb'].mean()

Genre
Action         5.375987
Adventure      5.687124
Animation      6.236090
Biography      6.588780
Comedy         5.876015
Crime          5.866017
Documentary    6.943206
Drama          6.042693
Family         5.529747
Fantasy        4.689333
Film-Noir      5.300000
History        6.290000
Horror         4.557748
Musical        6.251724
Mystery        5.529474
News           4.433333
Reality-TV     5.641667
Romance        5.775000
Sci-Fi         4.217284
Short          6.353846
Sport          6.718182
Talk-Show      5.611111
Thriller       5.126697
War            5.350000
Western        5.715000
Name: IMDb, dtype: float64

#The genre with the highest average IMBd rating is Documentary

## Exercise #6

Do something cool. Using the movies dataset, get creative and show me something about the dataset. Use a text cell to explain what you did.

#I am babysitting from 4:00pm to 5:30pm for my evil roommate Quinn. I want to find a movie that will give his 7 year old little brother the worst experience possible.
The following provides movies that have a low score on IMDb and Rotten Tomatoes, are longer than 1.5 hours so that he will miss the ending, is recommended for people older than him, and will scare the daylights out of him.

In [ ]:
terrible_movies = movies[(movies['Genre'] == 'Horror') & (movies['IMDb'] <= 2) & (movies['Rotten Tomatoes'] <=20) & (movies['Runtime'] > 90)]
terrible_movies

                            Title  Year  Age  ...   Genre  Runtime        Country
11067  Birdemic: Shock and Terror  2010  NaN  ...  Horror    105.0  United States

[1 rows x 9 columns]