<a href="https://colab.research.google.com/github/urness/CS167Code/blob/main/Day06_Notes_normalization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 06 Notes: Missing Data and Normalization

## Missing Data Handling

In [ ]:
import pandas
import numpy
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#import the data and take a look at it
#You'll have to change this file path to get this line to work
titanic = pandas.read_csv('/content/drive/MyDrive/CS167Spring22/datasets/titanic.csv')
titanic.isna() #this returns a boolean that is True if data is NaN

In [ ]:
titanic.isna().any() #will return a list of columns and whether or not they have missing data

### dropna()

In [ ]:
print("before: ", titanic.shape)
clean_titanic = titanic.dropna()
print("after: ", clean_titanic.shape)

In [ ]:
print("before: ", titanic.shape)
titanic.dropna(inplace=True)
print("after: ", clean_titanic.shape)

### fillna()

In [ ]:
# let's reload the data so that we have missing data again.
titanic = pandas.read_csv('/content/drive/MyDrive/CS167/datasets/titanic.csv')

#and fill the missing data this time.

print("before: ", titanic['age'].isna().any())
age_mean = titanic['age'].mean()
titanic['age'].fillna(age_mean, inplace=True)
print("after: ", titanic['age'].isna().any())
titanic.head(7)

### Programming Exercise #1
### Load in the dataset MoviesData.csv (the dataset used in Notebook #1)
1. What is the shape of the data frame?
2. Which of the columns have data that is missing?
3. Change all of the NaN values in the column IMDb to the average of column IMDb
4. Verify that the column no longer has any missing data.
5. Remove all rows that have NaN values in any of the other columns
6. What is the final shape?

In [ ]:
# Load in the dataset MoviesData.csv
movies = pandas.read_csv('/content/drive/MyDrive/CS167Spring22/datasets/MoviesData.csv')

In [ ]:
# 1. What is the shape of the data frame?

In [ ]:
#2. Which of the columns have data that is missing?

In [ ]:
# 3.Change all of the NaN values in the column IMDb to the average of column IMDb

In [ ]:
#4. Verify that the column no longer has any missing data.

In [ ]:
#5. Remove all rows that have NaN values in any of the other columns

In [ ]:
#6. What is the final shape?

## Normalization Code

In [ ]:
titanic = pandas.read_csv('/content/drive/MyDrive/CS167/datasets/titanic.csv')
titanic.head()

In [ ]:
#convert sex to numeric
titanic['sex'] = titanic['sex'].replace(to_replace='female', value=1)
titanic['sex'] = titanic['sex'].replace(to_replace='male', value=0)
titanic.head()

In [ ]:
#gender
#calculate mean and std
s_mean = titanic['sex'].mean()
s_std = titanic['sex'].std()

#replace column with each entry's z-score
titanic['sex'] = (titanic["sex"] - s_mean)/s_std
titanic.head()

In [ ]:
#age
#calculate mean and std
a_mean = titanic['age'].mean()
a_std = titanic['age'].std()

#replace column with each entry's z-score
titanic['age'] = (titanic["age"] - a_mean)/a_std
titanic.head()

## kNN Functions:

In [ ]:
import numpy

def knn(specimen, data, k):
  data_copy = data.copy()
  data_copy['distance_to_new'] = numpy.sqrt(
    (specimen['petal length']-data['petal length'])**2
    +(specimen['sepal length']-data['sepal length'])**2
    +(specimen['petal width']-data['petal width'])**2
    +(specimen['sepal width']-data['sepal width'])**2)
  
  sorted_data = data_copy.sort_values(['distance_to_new']) 
  return sorted_data.iloc[0:k]['species'].mode()[0]

In [ ]:
import numpy

# weighted kNN
def w_knn(specimen, data, k):
  # calculate the distance
  data_copy = data.copy()
  data_copy['distance_to_new'] = numpy.sqrt(
    (specimen['petal length']-data['petal length'])**2
    +(specimen['sepal length']-data['sepal length'])**2
    +(specimen['petal width']-data['petal width'])**2
    +(specimen['sepal width']-data['sepal width'])**2)
  
  # calculate the weights (remember, the weights are 1/d^2)
  data_copy['weights'] = 1/(data_copy['distance_to_new']**2)

  # find the closest k
  sorted_data = data_copy.sort_values(['weights'], ascending = False) 
  top_k = sorted_data.iloc[0:k]

  # use groupby to sum the weights of each species in the closest k
  sum_of_weights_per_species = top_k.groupby(['species'])['weights'].sum()

  sorted = sum_of_weights_per_species.sort_values(ascending=False)
  return sorted.keys()[0]

## Programming Exercise #2
Normalize the predictor columns of the iris dataset using the Z-score
- Note: you need a way to transform the new reading (the specimen) that you will make the prediction on so that the new one and the training data will all be on the same scale. How can you do that?

Repeat your k-NN prediction code with the normalized data.
- Does the value of k change the predictions?
Compare using k=3, k=5 on each method (normalized and non-normalized).

In [ ]:
data = pandas.read_csv('/content/drive/MyDrive/CS167Spring22/datasets/irisData.csv')

In [ ]:
iris = {}
iris['petal length'] = 5.1
iris['sepal length'] = 7.2
iris['petal width'] = 1.5
iris['sepal width'] = 2.5

print('not normalized knn: ', knn(iris,data, 3))
print('not normalized w_knn: ', w_knn(iris,data, 3))

In [ ]:
# your code goes here
# what are the means and standard deviations for petal_length, petal_width, sepal_length, sepal_width?

In [ ]:
# more of your code goes here

norm_specimen = {}
# update values in norm_specimin

norm_data = data.copy()
# update the columns in norm_data 

print('normalized knn: ', knn(norm_specimen,norm_data, 3))
print('normalized w_knn: ', w_knn(norm_specimen,norm_data, 3))